<!--
  Generated template for the Collection page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>收藏</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item class="article-item" *ngFor="let collection of collections" (click)="openArticle(collection)">

            <h2>{{collection.title}}</h2>
            <ion-thumbnail item-right>
                <img *ngIf="collection.titleImg" [src]="collection.titleImg">
            </ion-thumbnail>
        </ion-item>
    </ion-list>
</ion-content>