<ion-header class="header" [class.opaque]="isTransparent">
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>首页</ion-title>
    </ion-navbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" >
    <ion-refresher [pullMax]="150" (ionRefresh)="update($event)" >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-slides class="slides" loop="true" pager="true"  >

        <ion-slide *ngFor="let slideArticle of slideArticles" (click)="openArticle(slideArticle)" >
            <img [src]="slideArticle.titleImg" >
            <div class="shadow">
                <h2 class="title" margin>{{slideArticle.title}}</h2>
            </div>
        </ion-slide>
    </ion-slides>

    <ion-list>
        <ion-item class="article-item" *ngFor="let article of articles" (click)="openArticle(article)">

            <h2 >{{article.title}}</h2>
            <ion-thumbnail item-right>
                <img *ngIf="article.titleImg" [src]="article.titleImg" >
            </ion-thumbnail>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="$event.waitFor(load())" [enabled]="!isOver">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
