// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




ion-menu {
  ion-header{
    color: rgb(148,153,157) !important;
    font-size: 18px;
    .app-user{
      margin:10px;
      ion-avatar{
        width:36px;
        height:36px;
        img{
          width:36px;
          height:36px;
        }
      }
      .app-user-name{
        margin-left: 10px;
      }
    }
    .app-setting{
      font-size:24px;
      margin-left:10px;
      margin-right:10px;
      .app-setting-text{
        font-size:12px;
      }
    }
  }
  ion-content{
    background: rgb(35,42,48) !important;
    color: rgb(148,153,157) !important;
    ion-list button {
      background: rgb(35,42,48) !important;
      color: rgb(148,153,157) !important;
    }
  }
}